.dish_item_container {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin: 15px 0;
  flex-direction: column;
  justify-content: center;
}

.dish_name {
  text-align: center;
  width: 100%;
}

.dish_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
