* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  margin-top: 2rem;
  min-width: 50rem;
}

img {
  width: 9rem;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
