.dish_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.dish_content h2 {
  margin-bottom: 15px;
}

.dish_method {
  width: 50%;
}
.dish_ingridients {
  width: 50%;
}

.container {
  justify-content: center;
}

.button_show_recipe {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  margin-top: 15px;
}
